/*                     
 *   __ __             
 *  |  |  |___ ___ ___ 
 *  |     | -_|  _| . |
 *  |__|__|___|_| |___|
 *                     
 *        Version 0.0.1
 *
 *  Jake Strichek 2015 <hippyjake@gmail.com>
 *
 * ====================
 *
 *  This file can be used as an example to make a new theme mask. The "mask"
 *  allows for fast and light switching by only modifying elements that you
 *  want to change. A small file will also make it easy to update the theme,
 *  without the need to rebuild the whole file. The main style will need be
 *  loaded from a main stylesheet, in this example that is foundation.css.
 *
 * ====================
 *
 */

body,
fieldset legend {
    background: #2b3e50;
    color: #fff
}
.panel dl,
.panel h1,
.panel h2,
.panel h3,
.panel h4,
.panel h5,
.panel h6,
.panel li,
.panel p,
h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: #fff
}
fieldset,
hr {
    border: 0
}
.panel {
    background: rgba(0, 0, 0, .1);
    border-color: transparent
}
.tabs .tab-title > a,
.tabs dd > a {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: transparent;
    color: #fff;
    margin-right: 2px
}
.tabs .tab-title > a:hover,
.tabs dd > a:hover {
    background-color: #4e5d6c;
    border: 1px solid #4e5d6c;
    border-bottom-color: transparent;
    color: #ebebeb
}
.tabs .tab-title.active a,
.tabs dd.active a {
    background-color: #2b3e50;
    border: 1px solid #4e5d6c;
    border-bottom-color: transparent;
    color: #ebebeb;
    cursor: default
}
.reveal-modal,
dialog {
    background-color: #2b3e50;
    border: 0
}
.progress {
    background: rgba(0, 0, 0, .1);
    border: 0;
}
.progress .meter {
    background: #5cb85c;
}
.button,
.button.disabled,
button,
button.disabled,
button[disabled] {
    background-color: #4e5d6c
}
.button:focus,
.button:hover,
button:focus,
button:hover {
    background-color: #485563
}
.button.alert,
button.alert {
    background-color: #d9534f
}
.button.alert:focus,
.button.alert:hover,
button.alert:focus,
button.alert:hover {
    background-color: #c9302c
}
.button.disabled:focus,
.button.disabled:hover,
.button[disabled]:focus,
.button[disabled]:hover,
button.disabled:focus,
button.disabled:hover,
button[disabled]:focus,
button[disabled]:hover {
    background-color: #4e5d6c
}
a {
    color: #df691a;
    line-height: inherit;
    text-decoration: none
}
a:focus,
a:hover {
    color: #df691a
}